#main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.table {
    width: 1000px !important;
    border-top: 3px solid rgb(70, 145, 140) !important;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(70, 145, 140) !important;
    padding-top: 0;
    margin-top: 50px;
}

th {
    background-color: rgb(148, 220, 215) !important;
    margin: 0;
    padding: 10px;
    color: #555;
    font-size: 0.9rem;
    width: 150px;
    border: 1px solid #555;

}
tr {
    background-color: white;
    height: 45px;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
}
td {
    padding: 5px;
}

.contents{
    height: 500px;
}

#upload{
    width: 70px;
    height: 30px;
    color: white;
    background-color: rgb(41, 128, 185);
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 20px;
}

#update{
	display: inline-block;
	background-color: rgb(41, 128, 185);
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    margin-top: 50px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
}

#delete{
	display: inline-block;
	background-color: rgb(41, 128, 185);
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

#toList{
	background-color: rgb(70, 145, 140);
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
}